assets/
node_modules/
slides/
dist/
template/
gulpfile.js
package.json
yarn.lock
.yarnclean
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
target
Cargo.lock
*.rs.bk
mkmf.log
.vagrant/
*.dylib
*.so
