node_modules/
.vagrant/
Cargo
Gemfile
Cargo.lock
Cargo.toml
Gemfile.lock
fireflower/
mkmf.log
target
dist/combined_slides.md
assets/
node_modules/
bin/
slides/
dist/
template/
gulpfile.js
package.json
yarn.lock
.yarnclean
README.md
